<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Details Mahasiswa</title>
</head>
<body>
  <h3>Details Mahasiswa</h3>
  Name : <%= data.name %> <br>
  Address : <%= data.address %> <br>
  Birth date : <%= data.birth_date %> <br>
  <a href="/mahasiswa">List</a>
</body>
</html>